<div class="w-100">
    <h1 class="mb-5">Admin-home</h1>
    {{> admin-tab}}
    <table class="table align-middle">
    <thead class="table-dark">
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">isAdmin</th>
        <th scope="col">Manipulate</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr class="mb-3">
            <th scope="row" >{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.isAdmin}}</td>
            <td>
                <form action="/admin/users/{{this.id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger icon" onclick="return confirm(`Are you sure to delete {{ this.name }} ?`)">
                        <i class="fa-regular fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
    </table>
</div>