<div class="mb-4">
    <label for="question" class="form-label">Question</label>
    <input type="text" class="form-control" id="question" name="question" placeholder="question" value="{{quiz.question}}" aria-describedby="questionHelp">
</div>

<div class="mb-4">
    <label for="select1" class="form-label">Option 1</label>
    <input type="text" class="form-control" id="select1" name="select1" placeholder="option1" value="{{quiz.select1}}" aria-describedby="select1Help">
</div>

<div class="mb-4">
    <label for="select2" class="form-label">Option 2</label>
    <input type="text" class="form-control" id="select2" name="select2" placeholder="option2" value="{{quiz.select2}}" aria-describedby="select2Help">
</div>

<div class="mb-4">
    <label for="select3" class="form-label">Option 3</label>
    <input type="text" class="form-control" id="select3" name="select3" placeholder="option3" value="{{quiz.select3}}" aria-describedby="select3Help">
</div>

<div class="mb-4">
    <label for="select4" class="form-label">Option 4</label>
    <input type="text" class="form-control" id="select4" name="select4" placeholder="option4" value="{{quiz.select4}}" aria-describedby="select4Help">
</div>

<div class="mb-3">
    <label for="answer" class="form-label">Answer</label>
    <select id="answer" name="answer">
        <option value="0"></option>
        <option value="select1" {{#if select1true}}selected{{/if}}>1</option>
        <option value="select2" {{#if select2true}}selected{{/if}}>2</option>
        <option value="select3" {{#if select3true}}selected{{/if}}>3</option>
        <option value="select4" {{#if select4true}}selected{{/if}}>4</option>
    </select>
</div>