<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz app</title>
    {{!-- Bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
          crossorigin="anonymous">

    {{!-- Icon website --}}
    <link rel='stylesheet' 
          href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    {{!-- Custom css --}}
    <link rel="stylesheet" href="/style.css">

</head>
{{!-- use primary for create
use success for edit
use danger for delete
use secondary for default 
use bg-dark text-light for check
use warning for test? --}}

{{!-- set body for min view-height 100% --}}
<body class="d-flex flex-column position-relative min-vh-100">
    {{!-- nav bars --}}
    {{> header}}

    {{!-- body, main board --}}
    {{#if user}}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        {{!-- head picture --}}
        <div class="offcanvas-header d-flex flex-row">
            <div class="d-flex flex-row justify-content-start align-items-center">             
                <a href="/user/info">
                    <img src="{{user.image}}" alt="headshot" class="headshot">
                </a>
                <a href="/user/info" class="ms-5">
                    <h4>{{user.name}}</h4>
                </a>
            </div>   
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="d-flex w-100 justify-content-center">
            <hr class="personnel-board border border-2 border-dark">
        </div>
        <div class="w-80 mx-auto">
            <h4>Change Default Folder</h4>
        </div>
        <div class="offcanvas-body">
            <div class="col-auto mx-3">
                {{!-- dropdown box --}}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if user.Plan}}
                            Default Folder : {{user.Plan.name}}
                        {{else}}
                            Dropdown button
                        {{/if}}
                    </button>
                    <ul class="dropdown-menu">
                        {{#each user.plan}}
                        <form action="/plan/defaultFolder/{{this.id}}" method="POST">
                            <li><button class="dropdown-item" type="submit">{{this.name}}</button></li>
                        </form>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    <main class="mb-auto h-100" role="main">
        <div class="album container pt-5 h-100">
            <div class="pt-5 d-flex flex-column align-items-center justify-content-start h-100 position-relative">
                {{> message}}
                {{{ body }}}
            </div>
        </div>
    </main>

    {{!-- footer --}}
    {{> footer }}

    {{!-- Bootstrap --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" 
            crossorigin="anonymous"></script>

    {{!-- fontawesome --}}
    <script src="https://kit.fontawesome.com/dd016403e6.js" crossorigin="anonymous"></script>
</body>
</html>