{{#if setting.edit}}
<form action="/user/info/{{userInfo.id}}?_method=PUT" method= "POST" enctype="multipart/form-data"
      class="d-flex flex-column jusity-content-center mx-auto">
{{/if}}
<div class="d-flex flex-column jusity-content-center mx-auto">
    <div class="d-flex flex-row justify-content-between w-100 mb-4 icon">
        <h1>User Info</h1>
        {{#if self}}
        <a href="/user/info/edit/{{userInfo.id}}" class="text-light btn btn-success">
            <i class="fa-regular fa-pen-to-square"></i>
        </a>
        {{else}}
            {{#if waiting}}
                <button class="text-light btn btn-secondary" disabled>
                    Waiting accept
                </button>
            {{else}}
                <form action="/user/beFriend/{{userInfo.id}}" method="POST">
                    <button type="submit" class="text-light btn btn-primary">
                        Be friend
                    </button>
                </form>
            {{/if}}
        {{/if}}
    </div>
    <hr class="border border-dark border-2">
    <div class='info-parent d-flex flex-column justify-content-center w-100'>
        <div class="d-flex flex-column">
            {{#if setting.edit}}
                <h3>Name</h3>
                <input class="form-control" type="text" class="form-control" id="name" name="name" value="{{userInfo.name}}">
            {{else}}
                <h3>Name : {{userInfo.name}}</h3>
            {{/if}}
        </div>
        <div class="d-flex flex-column justify-content-start">
            {{#if setting.edit}}
                <h3>File :</h3>
                <input class="form-control info-input" type="file" class="form-control-file" id="file" name="file">
            {{else}}
                <img src="{{userInfo.image}}" class="info mb-4">
            {{/if}}
        </div>
        <div class='mid'>
            <h3>User description : </h3>
            {{#if setting.edit}}
                <textarea class="form-control" id="description" name="description" rows="3">{{userInfo.description}}</textarea>
            {{else}}
                <p>{{userInfo.description}}</p>
            {{/if}}
        </div>
        <div class="end d-flex flex-column justify-content-center">
            {{#if setting.edit}}
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            {{/if}}
        </div>
    </div>
</div>
{{#if setting.edit}}
</form>
{{/if}}

