<h1 class="mb-3">Create Quiz</h1>
<div class="w-100 mt-3">
    <form action="/quiz{{#if setting.edit}}/{{quiz.id}}{{/if}}" 
          method="{{#if setting.edit}}PUT{{else}}POST{{/if}}">
        <div class="mb-4">
            <label for="question" class="form-label">Question</label>
            <input type="text" class="form-control" id="question" name="question" placeholder="question" value="{{this.question}}" aria-describedby="questionHelp">
        </div>

        <div class="mb-4">
            <label for="select1" class="form-label">Option 1</label>
            <input type="text" class="form-control" id="select1" name="select1" placeholder="option1" value="{{this.select1}}" aria-describedby="select1Help">
        </div>

        <div class="mb-4">
            <label for="select2" class="form-label">Option 2</label>
            <input type="text" class="form-control" id="select2" name="select2" placeholder="option2" value="{{this.select2}}" aria-describedby="select2Help">
        </div>

        <div class="mb-4">
            <label for="select3" class="form-label">Option 3</label>
            <input type="text" class="form-control" id="select3" name="select3" placeholder="option3" value="{{this.select3}}" aria-describedby="select3Help">
        </div>

        <div class="mb-4">
            <label for="select4" class="form-label">Option 4</label>
            <input type="text" class="form-control" id="select4" name="select4" placeholder="option4" value="{{this.select4}}" aria-describedby="select4Help">
        </div>

        <div class="mb-3">
            <label for="answer" class="form-label">Answer</label>
            <select id="answer" name="answer">
                <option value="0"></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>