

<div class="w-100">
  <div class="container d-flex flex-row align-items-center mb-2">
    <h1 class="me-5">Your Quiz!</h1>
    <a href="/quiz/create">
        <button type="submit" class="btn btn-primary">Create Quiz</button>
    </a>
  </div>
  <br>

  <table class="table align-middle">
  <thead class="table-light">
      <tr>
      <th scope="col">Id</th>
      <th scope="col">Question</th>
      <th scope="col">Manipulate</th>
      </tr>
  </thead>
  <tbody>
      {{#each quiz}}
      <tr class="mb-3 align-items-center">
          <th scope="row" >{{this.id}}</th>
          <th scope="row">
            <p class="d-inline-flex gap-1">
              <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample{{this.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{this.question}}
              </a>
            </p>
            <div class="collapse" id="collapseExample{{this.id}}">
                <div class="card card-body {{this.id}}select1">
                  {{this.select1}}
                </div>
                <div class="card card-body {{this.id}}select2">
                  {{this.select2}}
                </div>
                <div class="card card-body {{this.id}}select3">
                  {{this.select3}}
                </div>
                <div class="card card-body {{this.id}}select3">
                  {{this.select4}}
                </div>
            </div>
          </th>
          <th scope="row">
              <div class="d-flex flex-row t-25">
                <form action="/quiz/{{this.id}}" class="me-3">
                    <button type="submit" class="btn btn-success">Edit Quiz</button>
                </form>

                <form action="/quiz/{{this.id}}?_method=DELETE" method="POST" class="me-3">
                    <button type="submit" class="btn btn-danger">Delete Quiz</button>
                </form>
              </div>
          </th>
      </tr>
      {{/each}}
  </tbody>
  </table>
</div>
