{{#if status}}
{{!-- may put something when there is no searching result --}}
{{else}}
    {{!-- Give some latest update plan or quiz --}}
    <h1>Make your first searching and start learning~</h1>
{{/if}}

{{#if quiz}}
    <div class="d-flex justify-content-start w-100 mb-3">
        <h1 class="mx-3">Search Result</h1>
    </div>
    <div class="w-100 p-3">
        {{#each quiz}}
        <div class="card d-flex flex-row w-100 m-3 justify-content-between" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
                <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample{{this.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    {{this.question}}
                </a>
                </p>
                <div class="collapse" id="collapseExample{{this.id}}">
                    {{#if select1}}
                    <div class="card card-body {{this.id}} select1 {{#if select1true}}bg-secondary text-white{{/if}}">
                        {{this.select1}}
                    </div>
                    {{/if}}
                    {{#if select2}}
                    <div class="card card-body {{this.id}} select2 {{#if select2true}}bg-secondary text-white{{/if}}">
                        {{this.select2}}
                    </div>
                    {{/if}}
                    {{#if select3}}
                    <div class="card card-body {{this.id}} select3 {{#if select3true}}bg-secondary text-white{{/if}}">
                        {{this.select3}}
                    </div>
                    {{/if}}
                    {{#if select4}}
                    <div class="card card-body {{this.id}} select4 {{#if select4true}}bg-secondary text-white{{/if}}">
                        {{this.select4}}
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="d-flex flex-row align-items-center">
                {{!-- set a default and add it to the collection --}}
                <form action="/user/collect/{{this.id}}" method="POST" class="me-3">
                    <button type="submit" class="btn btn-secondary fw-bold">十</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
    <nav class="mt-3" aria-label="page navigation">
        <ul class="pagination">
        <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
            <a class="page-link" href="/home?search={{search}}&page={{pagination.prev}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{#each pagination.pages}}
            {{#ifCond this ../pagination.currentPage}}
            <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
            {{else}}
            <li class="page-item">
                <a class="page-link" href="/home?search={{../search}}&page={{this}}">{{this}}</a>
            </li>
            {{/ifCond}}
        {{/each}}
        <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
            <a class="page-link" href="/home?search={{search}}&page={{pagination.next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        </ul>
    </nav>
{{/if}}