<form action="/test/{{plan.id}}" method="POST" class="w-100 d-flex flex-column">
  <div id="carouselExample" class="carousel slide w-100 test-form" data-bs-interval="false">
    <div class="carousel-inner">
      {{#each quiz}}
        <div class="carousel-item w-100 {{#if this.first}}active{{/if}}">
          <div class="d-block">
            <p>{{inc @index}}.  {{this.question}}</p>
            {{#if this.select1}}
            <div>
              <label>
                <input type="radio" name="{{inc @index}}" value='select1'>
                {{this.select1}}
              </label>
            </div>
            {{/if}}
            {{#if this.select2}}
            <div>
              <label>
                <input type="radio" name="{{inc @index}}" value='select2'>
                {{this.select2}}
              </label>
            </div>
            {{/if}}
            {{#if this.select3}}
            <div>
              <label>
                <input type="radio" name="{{inc @index}}" value='select3'>
                {{this.select3}}
              </label>
            </div>
            {{/if}}
            {{#if this.select4}}
            <div>
              <label>
                <input type="radio" name="{{inc @index}}" value='select4'>
                {{this.select4}}
              </label>
            </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <button class="btn btn-primary mt-5" type="submit">Submit your test</button>
</form>