<form action="/test/:id" method="POST" class="w-100 d-flex flex-column">
  <div id="carouselExample" class="carousel slide bg-warning w-100" data-bs-interval="false">
    <div class="carousel-inner">
      {{#each quiz}}
        <div class="carousel-item w-100 {{#if this.first}}active{{/if}}">
          <div class="d-block">
            <p>{{inc @index}}.  {{this.question}}</p>
            <div>
              <label>
                <input type="radio" name="{{inc @index}}_select1" value={{this.select2}}>
                {{this.select1}}
              </label>
            </div>
            <div>
              <label>
                <input type="radio" name="{{inc @index}}_select2" value={{this.select2}}>
                {{this.select2}}
              </label>
            </div>
            <div>
              <label>
                <input type="radio" name="{{inc @index}}_select3" value={{this.select3}}>
                {{this.select3}}
              </label>
            </div>
            <div>
              <label>
                <input type="radio" name="{{inc @index}}_select4" value={{this.select4}}>
                {{this.select4}}
              </label>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <button class="btn btn-primary mt-5" type="submit">Submit your test</button>
</form>